<h1>New Article</h1>


<%= form with mode: @article do |form| %>
<div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
</div>